{% extends 'canchas/fragments/base.html' %}
{% block main-content %}
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn right green darken-2" href="{% url 'canchas:cancha-create' %}">
                <i class="material-icons left">add</i>Agregar cancha
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% if not canchas %}
                <div class="card-panel orange">
                    <span class="white-text">No hay canchas registradas actualmente</span>
                </div>
            {% else %}
                <table class="striped centered">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Deporte</th>
                        <th>Descripción</th>
                        <th>Precio/hora</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cancha in canchas %}
                        <tr>
                            <td>{{ cancha.name }}</td>
                            <td>{{ cancha.deporte }}</td>
                            <td>{{ cancha.descripcion|truncatechars:80 }}</td>
                            <td>${{ cancha.precio_hora }}</td>
                            <td>
                                <a class="btn-floating btn-small waves-effect waves-light orange"
                                   href="{{ cancha.get_edit_url }}"><i class="material-icons">edit</i></a>
                                <a class="btn-floating btn-small waves-effect waves-light red"
                                   href="{{ cancha.get_delete_url }}"><i class="material-icons">delete</i></a>
                                <a class="btn-floating btn-small waves-effect waves-light green"
                                   href="{{ cancha.get_detail_url }}"><i class="material-icons">visibility</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
